<h1>Listing final_dummies</h1>

<table>
  <tr>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @final_dummies.each do |final_dummy| %>
  <tr>
    <td><%= final_dummy.text %></td>
    <td><%= link_to 'Show', final_dummy %></td>
    <td><%= link_to 'Edit', edit_final_dummy_path(final_dummy) %></td>
    <td><%= link_to 'Destroy', final_dummy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Final dummy', new_final_dummy_path %>
