<!DOCTYPE html>
<html>
<head>
  <title>Backchannel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Backchannel</h1>
<%= yield %>
<p><%= link_to "Show all users", users_path %></p>
<p><%=  link_to "Show all posts", posts_path %></p>
</body>
</html>
